:root {
   --color-main: #434455;
   --color-logo: #4d5ae5; 
   --color-link: #2e2f42; 
   --color-hover: #404bbf;
   --color-background: #FFFFFF; 
   --background-team: #F4F4FD;
}

body{
   font-family: 'Roboto', sans-serif;
   background: #FFFFFF;
   color: var(--color-main);
}

.list {
   list-style: none
}


.link {
   text-decoration: none;
}
/* ------------------------INDEX----------------------- */
.container {
   padding-left: 156px;
   padding-right: 156px;
}
.header-container {
   display: flex;
   
}
.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
   margin-right: 76px;
}
.header-nav {
   display: flex;
   align-items: center;
   margin-right: auto;
}
.studio-top {
   color: var(--color-link);
}
.header-list {
   display: flex;
   gap: 40px;
}

.header-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.header-link:is( :hover, :focus){
   color: var(--color-hover);
}

.header-address {
   font-style: normal;
   
}
.address-list {
   display: flex;
   gap: 40px;
}
.address {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   cursor: pointer;
   color: var(--color-main);
}

.address:is( :hover, :focus){
   color: var(--color-hover);
}

.hero {
   background: var(--color-link);
   padding-top: 188px;
   padding-bottom: 188px;

}

.hero-title {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   max-width: 496px;
   margin: auto;
   padding-bottom: 48px;
}

.hero-btn {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   cursor: pointer;
   background: var(--color-logo);
   padding: 16px 32px 16px 32px;
   display: block;
   margin: auto;

}

.hero-btn:is( :hover, :focus) {
   background-color: var(--color-hover);

}  
.main-list {
   max-width: 1440px;
   padding: 120px;
}


.main-list-items {
   display: flex;
   gap: 24px;
   
} 
.main-list-item {
  
}

.main-list-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.main-list-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.main-list-text {
   width: 264px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;


}
.doing {
   
}
.doing-title {
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: var(--color-link);
   padding-bottom: 72px;
}
.doing-list {
   background-color: #FFFFFF;
   display: flex;
   gap: 24px;
   padding-bottom: 120px;
   justify-content: center;
}
.team {
   background: #F4F4FD;
   padding-bottom: 120px;  
}
.teams-title {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--color-link);
   padding-top: 120px;
   padding-bottom: 72px;
}
.team-list {
   background-color: #FFFFFF;
   
}
.item-team {
   display: flex;
   gap: 24px;
   justify-content: center;
}

.team-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-link);
   margin-top: 32px;
   margin-bottom: 0;
}
.team-text {
   font-size: 16px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-main);
   margin-top: 8px;
   margin-bottom: 32px;
   
}

.team-list {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
   background-color: #FFFFFF;

}

.footer {
   background: var(--color-link);
}

.footer-link {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
}
.footer-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #F4F4FD;
}

/* -----------------PORTFOLIO---------------- */
.main {
}

.main-title{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
.btn {
   display: flex;
   gap: 24px;
   justify-content: center;
   padding-top: 96px;
   padding-bottom: 72px;
   
}
.main-button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--color-logo);
   background: #F4F4FD;
   cursor: pointer;
   border: none;
   padding-left: 24px;
   padding-top: 12px;
   padding-right: 24px;
   padding-bottom: 12px;
}

.main-button:is(:hover, :focus){
   color: #FFFFFF;
   background: var(--color-hover);
   cursor: pointer;
}
.list-container {
   max-width: 1440px;
   display: flex;
   align-items: center;
}
.portfolio-border {
   border: 1px solid #E7E9FC;

}
.portfolio-list {
   max-width: 1440px;
   display: flex;
   flex-wrap: wrap;
   padding-left: 156px;
   gap: 48px 24px;

   
}

.list-item {
   background: #FFFFFF;
}

.list-item-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.list-item-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-main);
}

.footer {
   background: var(--color-link);
   padding: 100px 156px;
}
.footer-container {
  width: 264px;
}
.studio-footer {
   color: #F4F4FD;
}