:root {
   --color-main: #434455;
   --color-logo: #4d5ae5; 
   --color-link: #2e2f42; 
   --color-hover: #404bbf;
   --color-background: #FFFFFF; 
   --background-team: #F4F4FD;
}

body{
   font-family: 'Roboto', sans-serif;
   background: #FFFFFF;
   color: var(--color-main);
}

.list {
   list-style: none
}


.link {
   text-decoration: none;
}
/* ------------------------INDEX----------------------- */
.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
}
.studio-top {
   color: var(--color-link);
}

.header-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.header-link:is( :hover, :focus){
   color: var(--color-hover);
}

.header-address {
   font-style: normal;
}

.address {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   cursor: pointer;
   color: var(--color-main);
}

.address:is( :hover, :focus){
   color: var(--color-hover);
}

.hero {
   background: var(--color-link);
}

.hero-title {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #FFFFFF;
}

.hero-btn {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   cursor: pointer;
   background: var(--color-logo);
}

.hero-btn:is( :hover, :focus) {
   background-color: var(--color-hover);

}   

.main-list-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.main-list-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.main-list-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.doing-title {
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: var(--color-link);
}
.doing-list {
   background-color: #FFFFFF;
}
.team {
   background: #F4F4FD;
}
.teams-title {
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--color-link);
}
.team-list {
   background-color: #FFFFFF;
}

.team-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-link);
}
.team-text {
   font-size: 16px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--color-main);
}

.team-list {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
   background-color: #FFFFFF;
}

.footer {
   background: var(--color-link);
}

.footer-link {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
}
.footer-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #F4F4FD;
}

/* -----------------PORTFOLIO---------------- */

.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-logo);
}
.studio-top {
   color: var(--color-link);
}

.header-nav-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-link);
   cursor: pointer;
}

.header-mailto {
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-main);
   cursor: pointer;
}

.header-mailto:is( :hover, :focus){
   color: var(--color-hover);
}

.header-tel {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-main);
   cursor: pointer;
}

.header-tel:is( :hover, :focus){
   color: var(--color-logo);
}

.main-title{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

.main-button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--color-logo);
   background: #F4F4FD;
   cursor: pointer;
   border: none;
}

.main-button:is(:hover, :focus){
   color: #FFFFFF;
   background: var(--color-hover);
   cursor: pointer;
}

.list-item {
   background: #FFFFFF;
}

.list-item-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--color-link);
}

.list-item-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-main);
}

.footer {
   background: var(--color-link);
}

.studio-footer {
   color: #F4F4FD;
}